<header class="navbar">
    <div class="container-xl justify-content-end">
        <div class="navbar-nav flex-row">
            <div class="nav-item dropdown">
                <div class="nav-link d-flex lh-1 text-reset p-0">
                    <span class="avatar avatar-sm" style="background-image: url(/assets/images/user.png)"></span>
                    <div class="d-none d-xl-block ps-2">
                        <LoginDisplay />
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>